@media screen and (max-width:499px) {
    #wrap {
        width: 100%;
        padding: 0;
        margin: 0 auto;
    }

    /*header*/
    header {
        width: 100%;
        height: 70px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }



    header #c a {
        padding: 15px;
        text-decoration: none;
        display: block;
    }

    header #c a:hover {
        background-color: #eee;
        color: #666;
        text-decoration: none;
        display: block;
    }

    #a {}

    img {
        cursor: pointer;
    }




    .overlay {
        height: 900px;
        width: 0;
        position: fixed;
        z-index: 103;
        top: 0;
        right: 0;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.9);
        /* background-image: url(../img/bestitem1.jpg); */
        overflow-x: hidden;
        transition: 0.8s;
    }


    .overlay-content {
        position: relative;
        top: 20%;
        width: 90%;
        text-align: right;
        display: block;
        margin-left: 20px;
        line-height: 100px;
        white-space: nowrap;

    }


    .overlay a {
        padding: 10px;
        /* line-height: 160%; */
        text-decoration: none;
        font-size: 50px;
        color: #ffffff;
        transition: 0.3s;
        font-weight: bold;
        display: block;
    }


    .overlay a:hover,
    .overlay a:focus {
        color: #535353;
    }

    .overlay .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
    }

    header .lefticon img {
        width: 30px;
        height: 30px;
        padding: 10px;
    }

    header .lefticon img:nth-of-type(2){
        display: none;
    }

    header .lefticon img:nth-of-type(4){
        display: none;
    }
    header .lefticon img:hover {
        opacity: 0.6;
    }

    header img {
        width: 100%;
        height: 60px;
    }
    header img:hover {
        opacity: 0.6;
    }
    .subbutton img {
        width: 50px;
        height: 50px;
    }

    /*footer*/

    footer {
        background: black;
        width: 100%;
        height: auto;
        margin: 0 auto;
    }

    #bottom {
        margin: 1%;
        width: 98%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        /* align-items: flex-start; */
        /* justify-content: flex-start; */
    }

    .cubox {
        width: 20.3%;
        height: 200px;
        line-height: 80px;
        text-align: center;
        cursor: pointer;
        font-family: "Noto Serif", serif;
        font-optical-sizing: auto;
        font-weight: 476;
        font-style: normal;
        font-variation-settings:
            "wdth" 100;
            word-break:normal;
        /* display: flex; */
        padding-left: 20px;
        text-overflow:clip;
        margin: 4%;
    }

    .cubox h2 {
        position: relative;
        right: 29px;
        top: 90px;
        font-size: 20px;
        
    }

    .cubox1 {
        width: 23.3%;
        height: auto;
        font-size: 13px;
        cursor: pointer;
    }

    .cubox1 p:nth-of-type(1):hover {
        color: #666;
    }

    .cubox1 p:nth-of-type(2):hover {
        color: #666;
    }

    .cubox1 p:nth-of-type(3):hover {
        color: #666;
    }

    .cubox1 p:nth-of-type(4):hover {
        color: #666;
    }

    .cubox1 p {
        padding: 10px;
        margin-top: 30px;
        position: relative;
        /* right: 30px; */
        font-family: "Noto Serif", serif;
        font-optical-sizing: auto;
        font-weight: 242;
        font-style: normal;
        font-variation-settings:
            "wdth" 100;
    }

    .cubox2 {
        width: 17.3%;
        height: auto;
        font-size: 13px;
        cursor: pointer;
        margin: 1%;
        position: relative;
        top: 10px;
        right: 10px;
    }

    .cubox2 p:nth-of-type(1):hover {
        color: #666;
    }

    .cubox2 p:nth-of-type(2):hover {
        color: #666;
    }

    .cubox2 p:nth-of-type(3):hover {
        color: #666;
    }

    .cubox2 p:nth-of-type(3){display: none;}

    .cubox2 p {
        padding: 25px;
        position: relative;
        /* right: 35px; */
        font-family: "Noto Serif", serif;
        font-optical-sizing: auto;
        font-weight: 242;
        font-style: normal;
        font-variation-settings:
            "wdth" 100;
        width: 100%;
    }


    .icon {
        width: 10%;
        height: 100px;
        margin: 3%;
        position: relative;
        /* bottom: 20px; */
        left: 20px;

    }

    .icon img {
        padding: 10px 0 10px 9px;
        /* margin-top: 50px; */
        width: 35px;
        height: 35px;
    }

    .icon img:hover {
        opacity: 0.5;
    }

    .memberbox {
        width: 10%;
        height: auto;
        line-height: 50px;
        text-align: center;
        cursor: pointer;
        position: relative;
        bottom: 60px;
        right: 50px;
    }

    .memberbox h2 {
        padding: 55px;
        position: relative;
        top: 60px;
        cursor: pointer;
        font-family: "Noto Serif", serif;
        font-optical-sizing: auto;
        font-weight: 476;
        font-style: normal;
        font-variation-settings:
            "wdth" 100;
        font-weight: bold;
        font-size: 20px;
    }
    
    .memberbox1 {
        width: 83.3%;
        height: auto;
        font-size: 13px;
        cursor: pointer;
        position: relative;
        bottom: 10px;
        top: 15px;
        left: 10px;
    }

    .memberbox1 p:nth-of-type(1):hover {
        color: #666;
    }

    .memberbox1 p:nth-of-type(2):hover {
        color: #666;
    }

    .memberbox1 p:nth-of-type(3):hover {
        color: #666;
    }

    .memberbox1 p:nth-of-type(3){
        display: none;
    }

    .memberbox1 p {
        padding: 10px;
        margin-top: 50px;
        cursor: pointer;
        font-family: "Noto Serif", serif;
        font-optical-sizing: auto;
        font-weight: 242;
        font-style: normal;
        font-variation-settings:
            "wdth" 100;
        text-align: right;
    }

    .inbox {
        width: 30%;
        height: 333px;
        cursor: pointer;
        position: relative;
        right: 20px
    }

    .inbox p:nth-of-type(1):hover {
        color: #666;
    }

    .inbox p:nth-of-type(2):hover {
        color: #666;
    }

    .intext {
        text-align: left;
        padding: 30px;
        margin-top: 10px;
        line-height: 30px;
    }

    .intext h2 {
        font-size: 20px;
        font-family: "Noto Serif", serif;
        font-optical-sizing: auto;
        font-weight: 476;
        font-style: normal;
        font-variation-settings:
            "wdth" 100;
        font-weight: bold;
    }

    .intext p {
        font-size: 15px;
        font-family: "Noto Serif", serif;
        font-optical-sizing: auto;
        font-weight: 242;
        font-style: normal;
        font-variation-settings:
            "wdth" 100;
    }

    .rightbox {
        width: 54%;
        height: 333px;
        cursor: pointer;
        margin-left: 55px;
        position: relative;
        top: 20px;

    }

    .rightbox p {
        text-align: right;
        font-size: 14px;
        padding: 25px;
        font-family: "Noto Serif", serif;
        font-optical-sizing: auto;
        font-weight: 242;
        font-style: normal;
        font-variation-settings:
            "wdth" 100;

    }

    .copy {
        width: 98%;
        height: auto;
        margin: 0 auto;
        font-family: "Noto Serif", serif;
        font-optical-sizing: auto;
        font-weight: 476;
        font-style: normal;
        font-variation-settings:
            "wdth" 100;
        font-size: 10px;

    }

}