@media (max-width:1499px) and (min-width:1200px){
    /*page1*/
    #p1 {
        width: 100%;
        background: black;
    }

    .pi_sub {
        width: 100%;
        margin: 0 auto;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        padding-bottom:60px;
    }

    .pi_sub .topp {
        font-family: "Noto Serif", serif;
        font-optical-sizing: auto;
        font-weight: 476;
        /* font-style: normal; */
        font-variation-settings:
            "wdth" 100;
        text-align: left;
        color: rgb(255, 255, 255);
        font-size: 1.1em;
        padding-left: 10px;
        width: 100%;
        margin-left: 1%;
        margin-top: 5px;

    }

    .img {
        width: 49%;
        height: auto;
        margin-top: 10px;
        margin-left: 1%;

    }
    .img img {
        width: 100%;
        
    }

    .text {
        width: 47%;
        /* height: 300px;
        background: white; */
        margin-left: 2%;
        text-align: center;
        margin-top: 10px;
        margin-right: 1%;
    }
    

    .ttb {
        width: 100px;
        height: 35px;
        font-size: 0.9em;
        text-align: center;
        font-weight: bold;
        font-family: "Noto Serif", serif;
        font-optical-sizing: auto;
        font-weight: 476;
        /* font-style: normal; */
        font-variation-settings:
            "wdth" 100;
        cursor: pointer;
        background: #000000;
        color: white;
        border: none;
    }

    .ttb:hover {
        background: #ffffff;
        color: rgb(0, 0, 0);
        opacity: 0.7;
        border: 1px solid black;
    }

    .txtbox {
        background: white;
        height: auto;
        text-align: center;
        padding-top: 20%;
        padding-bottom: 18%;
        font-family: "Noto Serif", serif;
        font-optical-sizing: auto;
        font-weight: 476;
        font-style: normal;
        font-variation-settings:
            "wdth" 100;
        line-height: 60px;
        position: sticky;
        top: 0;
        width: 100%;
    }

    .txtbox .mobileimg{
        display: none;
    }

    .txtbox h3 {
        font-size: 2.3em;
    }

    .txtbox p {
        font-size: 20px;
        line-height: 40px;
    }

    .dropdown {
        position: relative;
        display: block;
        margin: 0 auto;
        width: 90%;
        max-width: 700px;
        color: #cccccc;
        vertical-align: middle;
        text-align: left;
        border: 1px solid black;
        height: 70px;
        border-radius: 100px;
        top: 20px;
    }

    .dropdown .ss {
        position: relative;
        display: block;
        z-index: 1;
        cursor: pointer;
        margin: 0 auto;
        font-size: 19px;
        line-height: 70px;
    }

    .dropdown .ss:after {
        position: absolute;
        right: 1.5em;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        content: '▼';
        z-index: 10;
    }

    .dropdown.is-open .ss:after {
        content: '▲';

    }

    .dropdown.is-open ul {
        display: block;
    }

    .dropdown ul {
        display: none;
        position: absolute;
        overflow: hidden;
        width: 100%;
        border: 1px solid black;
        background: white;
        border-radius: 30px;
        top: 93%;
        left: 0;
        list-style: none;
        margin: 5px 0 0 0;
        padding: 0;
        z-index: 100;
    }

    .dropdown ul li {
        display: block;
        text-align: left;
        padding: 0.8em 1em 0.8em 2em;
        color: #7e7e7e;
        cursor: pointer;
    }

    .select ul li:hover {
        background: #4ebbf0;
        color: #fff;
    }


    .btn2 button {
        width: 90%;
        height: 80px;
        background: black;
        color: rgb(255, 255, 255);
        border-radius: 50px;
        margin: 1%;
        border: none;
        cursor: pointer;
        font-family: "Noto Serif", serif;
        font-optical-sizing: auto;
        font-weight: 476;
        font-style: normal;
        font-variation-settings:
            "wdth" 100;
        position: relative;
        top: 30px;
        font-size: 1.1em;
    }
    .btn2 button:nth-of-type(1) {
        width: 33%;
        height: 75px;
    }
    .btn2 button:nth-of-type(2) {
        width: 33%;
        height: 75px;
    }

    .btn2 button:nth-of-type(3) {
        width: 20%;
        height: 80px;
        background: black;
        color: rgb(255, 255, 255);
        border-radius: 50px;
        margin: 1%;
        border: none;
        cursor: pointer;
    }


    .btn2 button:hover {
        background: rgba(0, 0, 0, 0.7);
    }

    .ibbox {
        text-align: right;
        position: relative;
        right: 40px;
        top: 50px;
    }

    .ibbox h3 {
        font-size: 1.2em;
    }

    .ibbox p {
        font-size: 1em;
    }

    .delibox dd {
        font-size: 0.6em;
    }

    .delibox dt {
        font-size: 1em;
    }

    .delibox dd img {
        width: 35px;
        height: 35px;
        position: relative;
        top: 10px;
    }

    .delibox {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
        line-height: 40px;
    }

    .delibox .onebox {
        width: 30%;
        height: auto;
        position: relative;
        white-space : nowrap;
        /* top: 10%; */
        line-height: 70px;
        right: 40px;
        /* text-align: center; */
    }

    .delibox .onebox1 {
        width: 60%;
        height: auto;
        float: right;
        text-align: right;
        position: relative;
        left: 70px;
        
    }

    .delibox .onebox2 {
        width: 100%;
        height: auto;
        /* float: right; */
        text-align: center;
        padding-top: 30px;
    }

    .mu {
        /* background: yellow; */
        width: 100%;
        height: auto;
        /* position: absolute; */
        font-family: "Noto Serif", serif;
        font-optical-sizing: auto;
        font-weight: 476;
        font-style: normal;
        font-variation-settings:
            "wdth" 100;
    }

    #gidetall {
        line-height: 45px;
    }

    #gidetall img {
        width: 300px;
        height: 350px;
    }


    table {
        border-collapse: collapse;
        border-spacing: 0;
    }

    .gidetull {
        display: flex;
        font-family: "Noto Serif", serif;
        font-optical-sizing: auto;
        font-weight: 476;
        font-style: normal;
        font-variation-settings:
            "wdth" 100;

    }

    .gidetull dd {
        font-size: 0.7em;
        position: relative;
        right: 20px;
        white-space : nowrap;
    }

    .gidetull dt {
        font-size: 1.1em;
        margin-bottom: 10px;
        position: relative;
        right: 20px;
    }

    .gidetull .gidebox {
        width: 60%;
        height: 500px;
        line-height: 45px;
        position: relative;
        bottom: 20px;
        right: 20px;
    }

    .gidetull .gidebox2 {
        width: 40%;
        height: 470px;
        position: relative;
        left: 10px;

    }

    .gidetull .gidebox2 h4 {
        font-size: 1em;
        font-weight: lighter;
        position: relative;
        left: 40px;
    }

    .gidetull .gidebox2 p {
        font-size: 0.7em;
        position: relative;
        left: 40px;
    }

    .gidetull .gidebox2 img {
        width: 100%;
        height: 55%;
    }

    .gidetull .gidebox2 img:hover {
        opacity: 0.8;
    }

    .gidefont {
        line-height: 50px;
    }

    .gideimg img {
        width: 200px;
        height: 200px;
    }

    .mu th {
        font-size: 0.9em;
    }

    .mu td {
        font-size: 0.9em;
    }

    .mu th,
    td {
        border: 1px solid #ccc;
        height: 50px;
        text-align: center;
    }

    .mu td {
        text-align: center;
    }

    .mu h3 {
        width: 110%;
        position: relative;
        right: 30px;
        font-size: 1.1em;
    }

    .mu h3:nth-of-type(1) {
        background: url('../icon/bu.png') no-repeat right 0px center;
        background-position: right;
    }

    .mu h3:nth-of-type(2) {
        background: url('../icon/bu.png') no-repeat right 30px center;
        background-position: right;
    }

    .mu h3:nth-of-type(3) {
        background: url('../icon/bu.png') no-repeat right 30px center;
        background-position: right;
    }

    .mu h3:nth-of-type(4) {
        background: url('../icon/bu.png') no-repeat right 30px center;
        background-position: right;
    }

    .mu a {
        display: block;
        padding: 30px;
        border-bottom: 1px solid white;
    }

    .mu ul a {
        /* background: #ffffff; */
        text-indent: 20px;
        height: auto;
        color: rgb(255, 255, 255);

    }

    .mu li ul {
        display: none;
    }

    .mu li ul.on {
        display: block;
    }


    .tobox span {
        position: absolute;
        padding-top: 80%;
        display: block;
        font-size: 40px;
        color: white;
        line-height: 40px;
        /* background: rgba(0,0,0,0.6); */
        cursor: pointer;
        /* height: 10px; */
        transform: translateY(-50%);
    }

    .tobox span:hover {
        /* background: rgba(255,255,255,0.8); */
        color: rgba(240, 240, 240, 0.5);
    }

    .le {
        left: -5px;
    }

    .ri {
        right: -5px;
    }

    .together h3 {
        font-size: 4.3em;
            color: white;
            text-align: left;
            font-weight: bold;
            font-family: "Noto Serif", serif;
            font-optical-sizing: auto;
            font-weight: 476;
            font-style: normal;
            font-variation-settings:
                "wdth" 100;
    }

    .together {
        width: 102%;
        height: 930px;
        margin: 0 auto;
        /* background: paleturquoise; */
        padding-top: 150px;
        position: relative;
        overflow: hidden;
        text-align: center;

    }

    .tobox {
        display: flex;
        /* background-color: rgb(255, 255, 255); */
        width: 200%;
        /* margin: 0 auto; */
        height: 420px;
        justify-content: center;
        /* align-items: center; */
        /* border: 1px solid white; */
    }
    .tobox>div {
        width: 48.6%;
    }

    .tb1 {
        width: 100%;
        height: auto;
        margin-left: 2%;
        margin-right: 2%;
        /* padding-right: 15px; */
        border: 1px solid black;
        font-family: "Noto Serif", serif;
        font-optical-sizing: auto;
        font-weight: 476;
        font-style: normal;
        font-variation-settings:
            "wdth" 100;
        line-height: 35px;
        position: relative;
        top: 100px;
    }

    .tb1 img {
        width: 97%;
        height: auto;
    }

    .tb1 img:hover {
        opacity: 0.9;
    }

    .tb1 h4 {
        font-size: 1.1em;

    }

    .tb1 p {
        font-size: 0.9em;

    }

    /* .tobox>div {
        width: 14.6%;
    }
     */
    /* .toboxc>div img {
        width: 100%;
    } */

    .tb1:nth-of-type(3) {
        /* display: none; */
    }

    .bestit {
        width: 100%;
        height: 1200px;
        position: relative;
        overflow: hidden;
        /* padding-bottom: 100px; */
        top: 50px;

    }

    .bestit h3 {
        font-size: 4.3em;
        color: white;
        text-align: left;
        font-weight: bold;
        font-family: "Noto Serif", serif;
        font-optical-sizing: auto;
        font-weight: 476;
        font-style: normal;
        font-variation-settings:
            "wdth" 100;

    }

    .itbox {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        /* width: 100%; */


    }


    .itbtxt {
        color: #ffffff;
        display: none;
        line-height: 35px;
        font-family: "Noto Serif", serif;
        font-optical-sizing: auto;
        font-weight: 476;
        font-style: normal;
        font-variation-settings:
            "wdth" 100;
        text-align: center;
    }

    .itbtxt h4 {
        font-size: 1.1em;
    }

    .itbtxt p {
        font-size: 0.9em;
    }


    .cli-title:hover+.itbtxt {
        display: block;
    }

    .itb {
        /* margin: 10px; */
        width: 41%;
        height: auto;
        float: left;
        margin: 10px;
        padding-top: 30px;
        /* padding-bottom: 10px; */
    }

    .itb img {
        width: 100%;
    }

    .itb img:hover {
        opacity: 0.9;
    }



    .mm {
        /* background: rgb(75, 75, 26); */
        width: 100%;
        height: auto;
        position: relative;
        top: 60px;

    }

    .mm h3 {
        font-size: 3.5em;
    color: white;
    text-align: left;
    font-weight: bold;
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 476;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}
    }

    .mb {
        /* background: rgb(146, 146, 0); */
        width: 100%;
        height: auto;
        position: relative;
        /* top: 200px; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: "Noto Serif", serif;
        font-optical-sizing: auto;
        font-weight: 476;
        font-style: normal;
        font-variation-settings:
            "wdth" 100;

    }

    .mmbox p {
        color: white;
        font-size: 1.5em;
        text-align: center;
        position: relative;
        top: 30px;

    }

    .bx {
        width: 100%;
        height: 45%;
        background-color: rgba(0, 0, 0, 0.5);
        position: relative;
        top: 25%;
        
    }
    .mmbox:hover {
        opacity: 0.85;
    }

    .mmbox h3:hover {
        color: black;
    }

    .mm h3 {
        font-size: 4.5em;
        color: white;
        /* text-align: left; */
        font-weight: lighter;
    }

    .mmbox {
        /* background: aquamarine; */
        width: 100%;
        height: 700px;
        margin: 1%;
        cursor: pointer;
            
    
    }

    .mmbox h3 {
        text-align: center;
        position: relative;
        top: 15%;
        font-size: 5em;
        cursor: pointer;


    }
    .bbx {
        width: 100%;
        /* height: 100%; */
        position: relative;
        top: 28%;

    }


    .mmbox p {
        color: white;

    }

    .call {
        width: 100%;
        height: 900px;
        background-color: rgb(0, 155, 103);
        position: relative;
        display: flex;
        top: 200px;
    }

    .tab-1 {
        height: 200px;
    }

    .ri-fri th {
        font-weight: lighter;

    }
    .rebtn {
        width: 200px;
        height: 40px;
        margin: 10px;
        font-size: 0.85em;
        font-weight: bold;
        background: black;
        color: white;
        border: 1px solid white;
        position: relative;
        right: 30px;
        font-family: "Noto Serif", serif;
        font-optical-sizing: auto;
        font-weight: 476;
        font-variation-settings:
            "wdth" 100;
        cursor: pointer;

    }

    .rebtn:hover {
        opacity: 0.7;
    }
    .rebtn .span {
       font-size: 0.9em;
    }
    
    .ri-fri {
        font-size: 0.8em;
    }

    .revi {
        
        font-size: 0.9em;

    }
        .reni th {
            width: 150px;
            height: 50px;
            border-bottom: 1px solid #eee;

        }
    
        .revi td:first-of-type {
            width: 750px;
            border-bottom: 1px solid #eee;
        }
    
    
        .revi td:nth-of-type(2) {
            width: 130px;
            text-align: center;
            border-bottom: 1px solid #eee;
        }

    
    .revi td:nth-of-type(3) {
            width: 120px;
            text-align: center;
            border-bottom: 1px solid #eee;
        }

        .revi .ri-fri:hover {
            background: rgb(255, 255, 255);
            color: rgb(0, 0, 0);
        }
        




    
        .revi td:last-of-type {
            width: 120px;
            text-align: center;
            border-bottom: 1px solid #eee;
        }



    /*page2*/
    .cody {
        width: 100%;
        height: 900px;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;

    }

    .cody .box1 {
        width: 50%;
        height: auto;
        background: rosybrown;
        /* display: flex; */
        /* margin-top: 60px; */
        background-image: url(../img/get.jpg);
        background-size: cover;
        /* position: relative; */
        /* right: 50px; */
        margin: 1%;
    }

    .cody .box1 h1 {
        margin-top: 15px;
        margin-left: 30px;
        line-height: 130px;
        letter-spacing: 1px;
        font-family: "Noto Serif", serif;
        font-optical-sizing: auto;
        font-weight: 242;
        font-style: normal;
        font-variation-settings:
            "wdth" 100;
        font-weight: bold;
        font-size: 85px;
    }

    .cody .box2 {
        width: 50%;
        height: auto;
        /* display: flex; */
        /* margin-top: 60px; */
        display: flex;
        align-items: center;
        flex-direction: column;
        border: 3px solid black;
        /* position: relative; */
        /* left: 50px; */
        margin: 1%;
    }

    .cody .box2 h1 {
        font-family: "Noto Serif", serif;
        font-optical-sizing: auto;
        font-weight: 476;
        font-style: normal;
        font-variation-settings:
            "wdth" 100;
        line-height: 120px;
        font-size: 78px;
        text-align: center;
    }

    .cody .box2 p {
        font-family: "Noto Serif", serif;
        font-optical-sizing: auto;
        font-weight: 242;
        font-style: normal;
        font-variation-settings:
            "wdth" 100;
        font-size: 23px;
        letter-spacing: 3px;


    }

    .cody .box2 img {
        width: 250px;
        height: 250px;
        margin-top: 50px;
    }

    .cody .box2 img:hover {
        opacity: 0.6;
    }

    .cody .cl {
        border: none;
        text-align: center;
        transition: 0.5s;
        cursor: pointer;
        display: inline-block;
        padding: 10px;
        color: rgb(77, 77, 77);
        letter-spacing: 8px;
        font-weight: bold;
    }

    .cody .cl span {
        font-family: "Noto Serif", serif;
        font-optical-sizing: auto;
        font-weight: 242;
        font-style: normal;
        font-variation-settings:
            "wdth" 100;
        font-weight: bold;

    }

    .cody .cl:hover {
        opacity: 0.5;
    }

    .cody .cl>span {
        font-size: 28px;
    }

    .cody .cl>img.ic {
        width: 31px;
        height: 36px;
        float: right;
        vertical-align: middle;
        margin: 0 15px 0 0;
        /* margin-left: 10px; */
    }




    .cody .emailcheck {
        position: relative;
        left: 70px;
        padding-bottom: 30px;
        display: flex;
    }

    .cody .emailcheck p {
        line-height: 25px;
        margin-left: 10px;
        font-family: "Noto Serif", serif;
        font-optical-sizing: auto;
        font-weight: 476;
        font-style: normal;
        font-variation-settings:
            "wdth" 100;
    }


    .cody input {
        width: 27px;
        height: 27px;
    }

    .cody .email {
        display: flex;
        align-items: center;
        flex-direction: column;

    }

    .cody input[type=email] {
        width: 90%;
        height: 68px;
        border-radius: 50px;
        border: none;
        font-size: 20px;
        padding-left: 20px;
        font-family: "Noto Serif", serif;
        font-optical-sizing: auto;
        font-weight: 476;
        font-style: normal;
        font-variation-settings:
            "wdth" 100;
        line-height: 70px;
    }

    .cody input[type=number] {
        width: 176px;
        height: 68px;
        border-radius: 50px;
    }

    .cody .smscheck {
        position: relative;
        left: 70px;
        padding-top: 50px;
        padding-bottom: 30px;
        display: flex;
    }

    .cody .smscheck p {
        line-height: 25px;
        margin-left: 10px;
        font-family: "Noto Serif", serif;
        font-optical-sizing: auto;
        font-weight: 476;
        font-style: normal;
        font-variation-settings:
            "wdth" 100;
    }

    .cody .sms {
        display: flex;
        align-items: center;
        justify-content: center;

        /* flex-direction: column; */
    }

    .cody select[type=num] {
        width: 28%;
        height: 68px;
        border-radius: 50px;
        border: none;
        font-size: 20px;
        padding-left: 20px;
        margin-right: 20px;
        font-family: "Noto Serif", serif;
        font-optical-sizing: auto;
        font-weight: 476;
        font-style: normal;
        font-variation-settings:
            "wdth" 100;
        line-height: 70px;
        appearance: none;
        background: url('../icon/bottom.png') no-repeat right 24px center;
        background-color: white;

    }

    .cody input[type=phone] {
        width: 60%;
        height: 68px;
        border-radius: 50px;
        border: none;
        font-size: 20px;
        padding-left: 20px;
        font-family: "Noto Serif", serif;
        font-optical-sizing: auto;
        font-weight: 476;
        font-style: normal;
        font-variation-settings:
            "wdth" 100;
        line-height: 70px;
    }

    .cody .btn {
        display: flex;
        justify-content: center;
        padding-top: 50px;

    }

    .cody button {
        width: 189px;
        height: 63px;
        border-radius: 50px;
        border: none;
        text-align: center;
        font-size: 25px;
        font-weight: bold;
        cursor: pointer;
        font-family: "Noto Serif", serif;
        font-optical-sizing: auto;
        font-weight: 476;
        font-style: normal;
        font-variation-settings:
            "wdth" 100;
    }

    .cody button:hover {
        opacity: 0.8;
    }
}